<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jdktomcat.spring.boot.mybatis.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.jdktomcat.spring.boot.mybatis.mapper.entry.UserInfoDO">
        <id column="id" property="id"/>
        <result column="age" property="age"/>
        <result column="name" property="name"/>
    </resultMap>

    <insert id="insert" parameterType="com.jdktomcat.spring.boot.mybatis.mapper.entry.UserInfoDO">

    </insert>

    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select * from user_info where id = #{id,jdbcType=BIGINT}
    </select>

    <update id="update" parameterType="com.jdktomcat.spring.boot.mybatis.mapper.entry.UserInfoDO">
    </update>

    <delete id="delete">
        delete from user_info where id =  #{id,jdbcType=BIGINT}
    </delete>

</mapper>
